.header-con{
  width:100%;
  position:fixed;
  top:0px;
  z-index: 2000;
}

header{
  height:60px;
  background-color: #000;
  margin-bottom:60px;
}

html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; }

h1{
  font-size:30px;
  font-weight: 700;
  margin-bottom: 60px;
}
#map-canvas {
/* height: 100%; */
  background-color:#000;
  width: 800px;
  height: 450px;
}

.map-con{
  position: fixed;
  top: 120px;
  right: 1%;
  width: 62%;
  height: 100%;
}

header{
  position:relative;
}
.search{
  position:absolute;
  bottom:10px;
  right:20px;
}

#photo_location{
  height:20px;
}

.wrapper{

  margin: 120px auto;
  width:1200px;
  position: relative;
}
.clear{ clear:both; }



input[type=text]{
  padding:6px 15px;
  background:fff;
  border:1px solid #dbdbdb;
  border-bottom: 0;
  outline:0;
  font-size: 12px;
  font-weight: 600;
}

input[type=submit], input[type=submit]:hover {
  position:relative;
  padding:7px 15px;
  left:-8px;
  border:3px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  outline:0;
  cursor: pointer;
}

.logo-con{
  position: absolute;
  left:35px;
  cursor:pointer;
}

.logo-con p{
  float:right;
  color:#fff;
  margin-top:36px;
  margin-left:10px;
  font-size:20px;
}

.logo{
  background: url('/assets/instagram.png') no-repeat center; 
  width:60px;
  height:60px;
  float:left;
}
